div{
    width: 300px;
    padding: 10px 30px;
    background-color: goldenrod;
    font-family: "Times New Roman", serif;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
}
h2{
    color: black;
    font-size: 18px;
}
p{
    font-size: 18px;
}
a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}   