.head-1 {
    color: red;
    font-size: 40px;
}
.head-2 {
    color: green;
    font-size: 35px;
}
.head-3 {
    color: blue;
    font-size: 30px;
}
#paragraph-1 {
    color: purple;
    font-size: 20px;
}
#paragraph-2 {
    color: orange;
    font-size: 18px;
}
#paragraph-3 {
    color: brown;
    font-size: 16px;
}