*{
    margin: 0;
    padding: 0;

}
.navbar{
    height: 50px;
    width: 100%;
    padding: 12px 300px;
}
.logo{
    color: #800020;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}
.nav-links{
    list-style: none;
    display: inline-block;
    margin-left: 300px;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: #800020;
    font-size: 15px;
    padding:5px 0;
}