*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
        text-decoration: none;
}
.nav-item{

    color: black;
    gap: 20px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30%;
}