*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
width: 100vw;
height: 15vh;
display: flex;
gap: 20px;
justify-content: space-around;
align-items: center;
}
.logo{
    width: 100px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
}
.item{
    width: 100px;
    height: 100px;
}
.menu-links{
    display: flex;
    width: 300px;
    height: 100px;
}
.button{
    display: flex;
    gap: 10px;
    width: 100px;
    height: 40px;
}
main{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center
}
footer{
    border: 1px solid black;
    width: 100vw;
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-icons{
    gap: 5rem;
    margin-bottom: 1rem;
}
.footer-links{
    color: white;
    display: flex;
    list-style: none;
    gap: 5rem;
}
.footer-links.link{
    display: flex;
}
.footer-desc{
    color: white;
}
.footer-desc span{
    color: red;
}
.icon-group{
    display: flex;
    gap: 3rem;
}
.icon{
    color: white;
    font-size: 2rem;
}